@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for Webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #E2F2F2; /* lightest */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #9AD3D4; /* light */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5DBFC0; /* accent */
}
